# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#: if cookiecutter.packaging
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
#: endif

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# editor settings
.nvim.lua
.nvimrc
.exrc
.vscode/
.idea/
